<div class="main-container">
  <div class="list-container">
  <app-header>
    Pokemon cards
  </app-header>
  <app-loader *ngIf="loading; else listBlock"></app-loader>
  <ng-template #listBlock>
      <app-card-list [cardList]="cards"></app-card-list>
      <app-paginator [page]="currentPage" [end]="cards.length !== PAGE_COUNT"></app-paginator>
  </ng-template>
  </div>
  <aside class="filter-container">
    <app-filter-block
      header="Фильтры"
      [cardList]="cards"
      [rarityQuery]="rarityQuery"
      [nameQuery]="nameQuery"
      [categoryQuery]="categoryQuery"
    ></app-filter-block>
  </aside>
</div>
