$primary: #347CFF
$secondary: #38ef7d
$white: #fff
$gray: #9b9b9b

.input-block
  position: relative
  padding: 15px 0 0
  margin-top: 10px

.input-text
  font-family: inherit
  width: 100%
  border: 0
  border-bottom: 2px solid $gray
  outline: 0
  font-size: 1.3rem
  padding: 7px 0
  transition: border-color 0.2s

  &::placeholder
    color: transparent

  &:placeholder-shown ~ .input-label
    font-size: 1.3rem
    cursor: text
    top: 20px


.input-label
  position: absolute
  top: 0
  display: block
  transition: 0.2s
  font-size: 1rem
  color: $gray

ul
  padding-left: 0
  & li
    list-style-type: none
