@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
@import url('https://fonts.cdnfonts.com/css/roboto?styles=14394,14396')

@import "variables"

html
  font-family: Roboto, sans-serif
  font-size: $global-font-size
  color: $global-font-color

body
  min-width: 1200px
